@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;

html, body {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background-color: #091314;
  color: #F3F1EE;
}

* {
  box-sizing: border-box;
}

@tailwind utilities;


.in-circle {
  mix-blend-mode: normal;
  transition: all 1s;
  animation: 1s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

.in-circle:hover {
  animation-play-state: running;
  mix-blend-mode: luminosity;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }

  to {
    clip-path: circle(100%);
  }
}

dialog::backdrop {
  background-color: #091314;
}

@media (min-width: 1024px) {
  dialog.done::backdrop {
    background-color: rgba(9,19,20,0.7);
  }
}

button:focus, a:focus, input[type="submit"]:focus{
  --tw-ring-offset-width: 1px;
  --tw-ring-color: rgb(45 212 191);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  outline: none;
}

.input-field input:focus,
.input-field input:not(:placeholder-shown) {
  border-bottom: 1px solid #283060;
  box-shadow: 0 1px 0 0 #283060;
}

.input-field input:not(:-moz-placeholder-shown)+label {
  transform: translateY(-14px) scale(0.85);
  color: #283060;
}

.input-field input:not(:-ms-input-placeholder)+label {
  transform: translateY(-14px) scale(0.85);
  color: #283060;
}

.input-field input:focus+label,
.input-field input:not(:placeholder-shown)+label {
  transform: translateY(-30px) scale(0.85);
  color: #fff;
}

.input-field label {
  color: #8791cd;
  position: absolute;
  top: 3px;
  left: 16px;
  cursor: text;
  transform-origin: 0% 100%;
  transform: translateY(14px);
  transition: 0.2s ease-out;
}

