@import url("./fonts/reaktif-font/stylesheet.css");
@import url("./fonts/kyivType-font/stylesheet.css");

@tailwind base;
@tailwind components;

html,
body {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  font-family: 'Reaktif',
    sans-serif;
}


* {
  box-sizing: border-box;
}

@tailwind utilities;

.font-kyiv {
  font-family: 'KyivType',
    sans-serif !important;
}


.nav-text,
.nav-text-dark {
  background: linear-gradient(152.67deg, rgba(255, 255, 255, 0.8) -4.45%, rgba(255, 255, 255, 0) 114.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  will-change: transform;
  transition: transform 0.2s ease;
  position: relative;
  display: inline-block;
}

.nav-text-dark {
  background: linear-gradient(152.67deg, rgba(0, 0, 0, 0.8) -4.45%, rgba(0, 0, 0, 0.3) 114.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  will-change: transform;
  transition: transform 0.2s ease;
  position: relative;
  display: inline-block;
}

.nav-text::after {
  content: '';
  position: absolute;
  border-bottom: 2px dotted #E4E2F4;
  ;
  top: 100%;
  transition: all 0.4s;
  left: 50%;
  right: 50%;
}

.nav-text:hover::after {
  right: 0;
  left: 0;
}

.header-text {
  background: linear-gradient(167.75deg, rgba(255, 255, 255, 0.8) -4.31%, rgba(255, 255, 255, 0) 91.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  opacity: 0;
  animation: typing 3.5s steps(30, end),
    scale 1s;
  animation-fill-mode: forwards;
  animation-delay: 900ms;
}

@keyframes typing {
  from {

    width: 0;
    opacity: 1;
  }

  to {

    width: 100%;
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}


.active path:nth-child(1) {
  transform: rotate(45deg) translate(2px, -6px);
}

.active path:nth-child(2) {
  transform: rotate(-45deg) translate(-10px, 0px);
}

.furrsound {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 26px;
  transform: rotate(-2.22deg) matrix(1, -0.04, 0.01, 1, 0, 0);
  filter: drop-shadow(0px 4px 84px rgba(0, 0, 0, 0.06));
}
